.card {
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #61677A;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 14px;
}

.card-img-top {
  width: 100%;
  height: auto;
}
