

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Pin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donor of donors">
            <td>{{donor.id}}</td>
            <td>{{donor.name}}</td>
            <td>{{donor.bloodType}}</td>
            <td>{{donor.contactNumber}}</td>
            <td>{{donor.state}}</td>
            <td>{{donor.district}}</td>
            <td>{{donor.country}}</td>
        </tr>

    </tbody>
</table>